{% include "Guest/header.html" %}
{% load static %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 black_overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s" >Welcome To Find My Studio<br>
                                   We Make Studio Hunting Simple!  </h3>
                                <div class="video_service_btn wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <div class="wild_photography">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center ">
                <div class="col-lg-4">
                    <div class="wildlife_photo">
                        <img src="{% static 'guest/img/photography/about.jpg' %}" alt="" style="height: 600px;width: 500px;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section_title">
                        <h3>About Us</h3>
                        <p>Find My Studio is your ultimate destination for discovering and booking photography studios across Kerala. Whether you're an event planner, or someone looking to capture special moments, our platform simplifies the process of finding the perfect studio.  

                            Our platform offers detailed listings that include essential information such as studio amenities, pricing, and available services. With real-time availability updates, you can make informed decisions with confidence. The intuitive search feature allows you to filter studios based on location, budget, and specific requirements, ensuring you find a space that aligns perfectly with your needs.  
                            
                            From cozy indoor setups to expansive outdoor locations, Find My Studio provides a comprehensive solution for all types of photography sessions — be it weddings, family portraits, product shoots, or creative projects. Our user-friendly booking system ensures a smooth and hassle-free experience, allowing you to focus on what matters most — capturing your precious moments in the perfect setting.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    {% include "Guest/footer.html" %}
